.highlight {
    background-color: yellow;
    color: black;
    padding: 10px;
  }
  .sp{
      background-color: chocolate;
      color: darkblue;
      box-shadow: rgb(233, 172, 129) 5px 10px;
  }
  .message-header{
      background-color: darkcyan;
  }
