#heading {
    color: black;
    background-color: cadetblue;
    float: left;
    border-radius: 18px;
}
#nou{
    color: black;
    background-color: cadetblue;
    font-size: large;
    float: left;
    border-radius: 18px;
}