.navbar {
    background-color: cadetblue;
    border-radius: 35px;
}
.navbar-item{
    font-size: large;
    font-weight: bolder;
    font-style: Snell Roundhand, cursive;
    color: black;
}
#im{
    background-color: cadetblue; 
}