<app-topic-ng-for></app-topic-ng-for>

<!-- <div class="columns">

    <div class="column">
      <app-user-card
        [user]="users[0]"
        (userViewed)="onUserViewed($event)"
      ></app-user-card>
    </div>

    <div class="column">
      <app-user-card
        [user]="users[1]"
        (userViewed)="onUserViewed($event)"
      ></app-user-card>
    </div>

    <div class="column">
      <app-user-card
        [user]="users[2]"
        (userViewed)="onUserViewed($event)"
      ></app-user-card>
    </div>

  </div>  -->